@import url(https://fonts.cdnfonts.com/css/anek-latin);
:root {
  --bg: #010409;
  --section: #0d1117;
  --div: #151b23;
  --border: #3d444d;
  --button1: #29903b;
  --button2: #8957e5;
  --text: #f0ffdc;
  --sub-text: #9198a1;
  --link: #308add;

  --temp1: #6dd26d;
  --temp2: #3ff70b;
  --temp3: #3871c3;
  --temp4: #00adef;
  --temp5: #3871c2;
  --temp6: #028303;
}
.width-90 {
  width: 90%;
  margin: 0 auto;
}
hr {
  border: none;
  height: 1px;
  background-color: var(--border);
}
.divider {
  padding: 2rem 0;
}
body {
  background-color: var(--bg);
  font-family: Anek Latin, sans-serif;
  color: var(--text);
}

/* NAV START */
nav.navItem {
  box-shadow: 1px 1px 1px var(--border) !important;
}
.navItem {
  background-color: var(--section);
}
.navItem .logo {
  height: 3rem;
}
.navItem .logo img {
  width: auto;
  height: inherit;
}

.navItem .logo .logo-texts {
  display: flex;
  flex-direction: column;
}
.navItem .logo .logo-texts p:first-child {
  color: var(--temp1);
  font-size: 1.5rem;
}
.navItem .logo .logo-texts p:last-child {
  color: var(--temp4);
  text-align: center;
  font-size: 0.6rem;
}
nav.navbar-1 .nav-container .logo:hover {
  padding: 0 !important;
}

.navItem .logo .logo-texts p:hover {
  color: var(--text);
}
nav.navbar-1 .nav-container a {
  color: var(--text);
}
nav.navbar-1 .nav-container a:hover {
  color: var(--temp4) !important;
  text-underline-offset: 0.8rem !important;
  text-decoration-color: var(--temp4);
}
nav.navbar-1 .nav-container .nav-items span {
  position: relative;
  transition: all 0.3s ease;
}

/* CART */
.totalCart {
  position: relative;
}
.totalCart p {
  position: absolute;
  font-size: 0.8rem;
  padding: 5px;
  top: -2rem;
  right: -1.5rem;
}
.totalCart p::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--temp3);
  z-index: -1;
}
.bg-dark {
  background-color: var(--section);
}

@media screen and (max-width: 768px) {
  .nav-items {
    min-width: 15rem !important;
    background-color: var(--div);
  }
  .totalCart p {
    left: -1.3rem;
    right: auto;
  }
  .totalCart p::before {
    width: 1.2rem;
  }
}

/* NAV END */

/* INTRO SLIDER */
.intro-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}
.intro-slider .left-side {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  left: 5%;
  top: 30%;
  height: 100vh;
  color: var(--text);
  z-index: 2;
}
.intro-slider .left-side h1 {
  font-size: 3rem;
  color: var(--temp1);
}

.intro-slider .left-side > * {
  max-width: 30rem;
}

.intro-slider .right-slider {
  position: absolute;
  right: 0;
  height: inherit;
  overflow: hidden;
}
.intro-slider .right-slider .mockup {
  position: absolute;
  top: 50%;
  right: -20%;
  transform: translateY(-50%);
  height: inherit;
}
.intro-slider .right-slider .mockup img {
  width: auto;
  object-fit: cover;
  object-position: center;
  height: inherit;
}

.intro-slider .right-slider .slide-product {
  position: relative;
  width: 60vw;
  height: 74%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease;
}

.intro-slider .right-slider .slide-product .product {
  position: absolute;
  display: block;
  margin-left: 50%;
  right: -200%;
  transition: all 0.3s ease;
}
.intro-slider .right-slider .slide-product .product img {
  height: 100%;
  object-fit: cover;
  width: auto;
  transition: all 0.3s ease;
}

.product-1 {
  height: 70%;
  bottom: 0;
}
.inAnimation {
  animation: inAnimation 2s ease-in-out;
}
@keyframes inAnimation {
  0% {
    height: 50%;
    bottom: 3rem;
    right: -100%;
    rotate: 60deg;
  }
  80% {
    height: 75%;
    bottom: 0;
    right: 52%;
    rotate: 0;
  }
  100% {
    height: 70%;
    bottom: 0;
    right: 50%;
    rotate: 0;
  }
}

.intro-slider .right-slider .slide-product .product:hover {
  transform: scale(1.1) translateY(-1rem);
}

.outAnimation {
  animation: outAnimation 2s ease-in-out;
}
@keyframes outAnimation {
  0% {
    height: 35%;
    bottom: 5rem;
    right: 50%;
  }
  100% {
    height: 50%;
    bottom: 0;
    right: -100%;
  }
}

.betweenAnimation {
  animation: betweenAnimation 2s ease-in-out;
}
@keyframes betweenAnimation {
  0% {
    height: 70%;
    bottom: 0;
    right: 50%;
    rotate: 0;
  }
  50% {
    height: 50%;
    bottom: 3rem;
    right: 80%;
    rotate: 15deg;
  }
  100% {
    height: 35%;
    bottom: 5rem;
    right: 50%;
    rotate: 0;
  }
}
.slider-bgText {
  position: absolute;
  width: 100vw;
  text-align: center;
  top: 20%;
  font-size: 15vw;
  margin-left: 5rem;
  text-wrap: nowrap;
  color: #0d111759;
  z-index: 0;
  animation: logoTextAnimation 10s ease-in-out infinite;
  transition: all 0.3s ease;
}
@keyframes logoTextAnimation {
  0% {
    color: #0d111759;
    transform: translateY(0);
    transition: all 0.3s ease;
  }
  50% {
    color: #1c253159;
    transform: translateY(-10%);
    transition: all 0.3s ease;
  }
  100% {
    color: #0d111759;
    transform: translateY(0);
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: 1080px) {
  .intro-slider .left-side > * {
    max-width: 20rem;
  }
  .right-slider {
    right: 0;
    width: 100vw;
  }
  .intro-slider .right-slider .slide-product {
    width: inherit;
    right: -20rem;
  }
}

@media screen and (max-width: 768px) {
  .intro-slider .left-side {
    top: 60%;
  }
  .intro-slider .left-side h1 {
    font-size: 10vw;
  }
  .intro-slider .left-side h2 {
    font-size: 7vw;
  }
  .intro-slider .left-side p {
    font-size: 5vw;
    -webkit-line-clamp: 3;
  }
  .right-slider {
    top: 0;
    right: 0;
    width: 100vw;
  }
  .intro-slider .right-slider .slide-product {
    width: 150vw;
    right: 0;
  }
  .left-side {
    bottom: 100%;
  }
  .slider-bgText {
    margin-left: 0;
    font-size: 20vw;
  }
}
/* INTRO SLIDER */

/* ABOUT US */
.heading {
  position: relative;
  font-size: 2.5rem;
  text-align: center;
}
.about-us {
  position: relative;
  height: max-content;
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 2rem;
}
.about-us p {
  color: var(--sub-text);
}
.heading::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 1px;
  background-color: var(--border);
}
.about-us-right {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  flex: 0 0 50%;
  perspective: 800px;
  scrollbar-width: none;
}

.about-us-right::-webkit-scrollbar {
  display: none;
}

.about-us-right img {
  width: inherit;
  height: 50%;
  transform-origin: center;
  /* animation: flip3D 3s infinite ease-in-out; */
  transition: transform 0.3s ease-out;
}

@keyframes flip3D {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(10deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@media screen and (max-width: 768px) {
  .about-us {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    text-align: center;
    text-align: justify;
    gap: 2rem;
  }
  .about-us-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }
}

/* ABOUT US */

/* ALL PRODUCTS */
.products-view {
  height: 100vh;
}
.products-grid {
  position: relative;
  gap: 1rem;
}

/* PRODUCT */
.products-grid .product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: auto;
  border: 1px solid var(--border);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text);
  font-size: 1.2rem;
}
.products-grid .product-item .product-image {
  width: auto;
  margin: 0 auto;
  height: 15rem;
}
.products-grid .product-item img {
  width: inherit;
  height: inherit;
}

.product-item .prod-details {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

.product-item .prod-details .col-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.product-item .prod-details .col-2 {
  justify-content: center;
  align-items: center;
  display: flex;
}
.product-item .prod-details .col-2 .cart {
  height: 3rem;
}

@media screen and (max-width: 1280px) {
  .g-res-4-col-container {
    grid-template-columns: 1fr 1fr 1fr !important;
  }

  @media screen and (max-width: 1080px) {
    .g-res-4-col-container {
      grid-template-columns: 1fr 1fr !important;
    }
    .products-view {
      height: 100%;
    }
  }
}
/* ALL PRODUCTS */
